
@{
	ViewBag.Title = "BillDetails";
	Layout = "~/Views/Shared1/_layout.cshtml";
}
<script src="~/Areas/Invoice/JsModule/BillDetails.js?1.1"></script>
<div class="page-box" style="margin-top:10px;">
	<div class="row">		
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Bill Details
					<button class="btn-success pull-right" id="btnEQAS" onclick="PrintPdf(this.name)" style="margin: -2px 4px;"><i class="fa fa-file-pdf-o">&nbsp;</i>Print EQAS Bill</button>
					<button class="btn-danger pull-right" id="btnUPFRONT" onclick="PrintPdf(this.name)" style="margin: -2px 4px;"><i class="fa fa-file-pdf-o">&nbsp;</i>Print UPFRONT Bill</button>				
					<button class="btn-warning pull-right" onclick="DownloadExcel()" style="margin: -2px 10px;"><i class="fa fa-file-excel-o">&nbsp;</i>Download Excel</button>
				</div>
				<div class="panel-body">
					<div class="row">			
						<div class="col-md-12 form-group">
							<div class="scroll" style="min-height:500px">
								<table class="table table-bordered tableFixHead" id="tblBillDetails">
									<thead>
										<tr>									
											<th style="width: 12%;">Visit No</th>
											<th style="width: 7%;">Visit Date</th>
											<th style="width: 11%;">Patient Name</th>
											<th style="width:5%">Age</th>
											<th style="width:4%">Gender</th>
											<th style="width:12%">Prescribed By</th>
											<th style="width:5%;text-align:right">Bill Amt</th>										
											<th style="width:10%">Appr Date</th>
											<th style="width:6%;text-align:right">Appr. Amt</th>
											<th>Investigations</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

