
@{
	ViewBag.Title = "InvoiceSummary";
	Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/Invoice/JsModule/InvoiceSummary.js?v1.1"></script>
<style>
	.bg-danger {
		background-color: #ffbebe;
	}
</style>
<div class="page-box" style="margin-top:10px;">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Invoice Summary
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-5 form-group">
									<label>Invoice Month</label>
									<div class="flex">
										<input type="month" id="txtFrom" class="form-control" />
										<button class="btn-flat btn-success" id="btnSave" style="background:#45bb13;padding: 4px 20px;" onclick="InvoiceList('InvoiceListOfTheMonth')">Submit</button>
									</div>
								</div>
								<div class="col-md-7 form-group">
									<label>Centre Name</label>
									<div class="flex">
										<select id="ddlCentreName" class="form-control"></select>
										<button class="btn-flat btn-success" id="btnSave" style="background:#45bb13;padding: 4px 20px;" onclick="InvoiceList('InvoiceListOfCentre')">Submit</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<div class="scroll" style="min-height:420px">
								<table class="table table-bordered" id="tblInvoiceSummary">
									<thead>
										<tr>
											<th style="width: 10%;">Invoice Month</th>
											<th style="width: 33%;white-space:nowrap">Invoice No</th>
											<th style="width: 11%;text-align:right">Total Amount</th>
											<th style="width: 11%;text-align:right">Total Discount</th>
											<th style="width: 14%;text-align:right">Net Amount</th>
											<th style="width: 20%;text-align:right">Invoice Amount</th>
											<th style="width: 5%;text-align:right">EQAS Deduc.</th>
											<th style="width:12%;text-align:right">Amount To be Paid</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>