
@{
	ViewBag.Title = "RawData";
	Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/MIS/JsModule/RawData.js?v1.6"></script>
<div class="page-box" style="margin-top:10px;">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Raw Data Info
				</div>
				<div class="panel-body">
                    <div class="row">
                        <div class="col-md-2 form-group">
                            <label>Report Type</label>
                            <select id="ddlReport" class="form-control">
                                <option value="0">Select</option>
                                <option value="RawData">Raw Data</option>
                                <option value="TestCountBreackup">Test Count Break Up</option>
                                <option value="NHM:PaymentInfo">PaymentInfo</option>
                            </select>
                        </div>
                        <div class="col-md-2 form-group">
                            <label>From</label>
                            <input type="date" id="txtFrom" class="form-control" />
                        </div>
                        <div class="col-md-2 form-group">
                            <label>To</label>
                            <input type="date" id="txtTo" class="form-control" />
                        </div>
                        <div class="col-md-3 form-group">
                            <label>District</label>
                            <select id="ddlDistrict" onchange="GetCentreMaster()" class="form-control"></select>
                        </div>
                        <div class="col-md-4" style="width: 30%;">
                            <label>Centre</label>
                            <div class="flex">
                                <select id="ddlCentre" class="form-control"></select>
                                <button class="btn-flat btn-success" id="btnSave" style="background:#45bb13;padding: 4px 20px;width:28%" onclick="DownloadExcel()"><i class="fa fa-file-excel-o">&nbsp;</i>XL</button>
                            </div>
                        </div>
                    </div>				
				</div>
			</div>
		</div>
	</div>
</div>

