
@{
	ViewBag.Title = "RepeatedEntry";
	Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/MIS/JsModule/RepeatedEntry.js?v1.0"></script>
<div class="page-box" style="margin-top:10px;">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Repeated Entry					
				</div>
				<div class="panel-body">
					<div class="row">						
						<div class="col-md-4 form-group">
							<label>From</label>
							<input type="date" id="txtFrom" class="form-control" />
						</div>
						<div class="col-md-4 form-group">
							<label>To</label>
							<input type="date" id="txtTo" class="form-control" />
						</div>						
						<div class="col-md-2 form-group">
							<label style="visibility:hidden">Action</label>
							<button class="btn-flat btn-success" id="btnSave" style="background:#45bb13;padding: 4px 20px;" onclick="RepeatedEntrySummary()">Search</button>
						</div>
						<div class="col-md-12 form-group">
							<div class="scroll" style="min-height:420px">
								<table class="table table-bordered tableFixHead" id="tblRepeatedEntry">
									<thead>
										<tr>																	
											<th>Count</th>
											<th>Centre Name</th>
											<th>Mobile</th>
											<th>Month Year</th>
											<th class="text-right">Repeat Entry Count</th>										
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modalRepeatedInfo" class="modal fade" role="dialog">
	<div class="modal-dialog modal-md">
		<!-- Modal content-->
		<div class="modal-content" style="margin-top:4%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>			
			</div>
			<div class="modal-body" style="padding: 12px 30px;">
				<div class="row">
					<div class="col-md-12 form-group">
						<div class="panel panel-primary">
							<div class="panel-heading">
								Repeated Entry Info
							</div>
							<div class="panel-body" style="height:465px">							
								<div class="scroll" style="max-height:450px">
									<table class="table table-bordered" id="tblRepeatedEntryInfo">
										<thead>
											<tr>
												<th>Count</th>
												<th>Visit No</th>
												<th>Patient Name</th>
												<th>Mobile</th>										
												<th>Gender</th>
												<th>Emp Name</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

