
@{
	ViewBag.Title = "TestCountBreakup";
	Layout = "~/Views/Shared/_layout.cshtml";
}

<style>
	.btnDelay {
		width: 100%;
		padding: 0px 10px;
		border-radius: 0;
		height: 18px;
		font-size: 11px;
	}

	.topHeader {
		background: #fff;
		margin: 10px 0px;
		padding: 8px;
	}

	#tblRegInfo th, #tblRegInfo td {
		text-align: center;
		/*padding: 2px 6px;*/
		background: #e6f9ff;
		border-top: 1px solid #90bac7;
	}

	#tblRegInfo td {
		font-size: 15px;
	}

	#tblChandanDelayTest td, #tblITDoseDelayTest td {
		font-size: 11px !important;
	}

	#tblRegInfo tr:nth-child(2) > th:nth-last-child(3), #tblRegInfo tr:nth-child(2) > th:nth-last-child(2), #tblRegInfo tr:nth-child(2) > th:nth-last-child(1),
	#tblRegInfo tbody tr > td:nth-last-child(3), #tblRegInfo tbody tr > td:nth-last-child(2), #tblRegInfo tbody tr > td:nth-last-child(1),
	#tblRegReport td:nth-last-child(3):not(.bg-group), #tblRegReport td:nth-last-child(2):not(.bg-group), #tblRegReport td:nth-last-child(1):not(.bg-group) {
		background: #d5d6d8;
	}

	#tblRegReport td:not(.bg-group) {
		text-align: center;
		/*padding: 2px 6px;*/
		border-top: 1px solid #f4f5e6;
		font-size: 13px;
	}
</style>
<script src="~/Areas/MIS/JsModule/TestCountBreakup.js"></script>
<div class="page-box" style="margin-top:10px;">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Test Count Breakup
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4 form-group">
							<label>From</label>
							<input type="date" id="txtFrom" class="form-control" />
						</div>
						<div class="col-md-4 form-group">
							<label>To</label>
							<input type="date" id="txtTo" class="form-control" />
						</div>
						<div class="col-md-1 form-group">
							<label style="visibility:hidden">Action</label>
							<button class="btn-flat btn-success" id="btnSave" style="background:#45bb13;padding: 4px 20px;" onclick="TestCountBreackup()">Get</button>
						</div>
						<hr />
						<div class="col-md-12 topHeader">
							<table class="table table-bordered" id="tblPendingTotal" style="margin:0">
								<thead>
									<tr>
										<th style="width:55%">Centre Name</th>
										<th>Total Count Before 2 pm</th>
										<th>Total Count After 2 pm</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<div class="scroll" style="min-height:340px">
								<table class="table table-bordered" id="tblPendingInfo">
									<thead>
										<tr>
											<th style="width:55%">Centre Name</th>
											<th>Test Count Before 2 pm</th>
											<th>Test Count After 2 pm</th>										
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

