
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="~/JsModule/global.js"></script>
	<script src="~/Areas/MobileApp/JsModule/DPR.js"></script>
	<style>
		.header {
			text-align: left;
			font-size: 15px;
		}
	</style>
</head>
<body>
	<div class="container">
		<img src='https://exprohelp.com/UKNHM/Content/img/NHM_logo.png' style='width: 100%' />
		<div id="divReports"></div>
	</div>
</body>
</html>
