
@{
	ViewBag.Title = "NHMUserMaster";
	Layout = "~/Areas/MobileApp/Views/Shared/_layout.cshtml";
}

<style>	
	.btn-go {
		border-radius: 2px;
		border: none;
	}
	#ddlPatientList {
		margin: 10px;
		width: 94%;
	}

	body {
		background-color: #ececec;
	}

	.report {
		border-radius: 3px;
		box-shadow: 1px 0px 4px #e0e0e0;
		cursor: pointer;
		border: 1px solid #e6e6e6;
		background: #fff;
		padding: 9px 0px;
		display: flex;
		width: 94%;
		margin-bottom: 7px;
		margin: 10px;
	}

	table td, th {
		font-size: 12px !important;
		padding: 0px 3px;
	}

	.report-left {
		border: 1px solid #a9e0ff;
		margin: 0 10px;
		width: 90px;
		background: #ececec;
		padding: 15px 30px;
	}

		.report-left .fa {
			font-size: 31px;
			color: #3eb1f3;
		}

	.report-right {
		width: 75%;
	}

	.report-title {
		font-size: 16px;
		font-weight: 500;
		color: #000;
	}

	.report-des {
		font-size: 13px;
		color: #999999;
	}

	.report-btn {
		width: 65px;
		padding: 0px 14px;
		font-size: 13px;
		border: none;
		box-shadow: none;
	}
	.select-row td{
		color: #fff;
		background: #33abb7 !important;	
	}
	.bg {
		color: #333 !important;
		background: #e6e6e6 !important;
	}

	.card {
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0,0,0,.125);
		border-radius: .25rem;
	}

	.visitnow {
		padding: 0px 19px 5px 19px;
		margin-top: 8px;
	}

	.card-body {
		BACKGROUND-COLOR: #d8d5d5;
		height: 106px;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		min-height: 1px;
		padding: 1.25rem;
	}

	.form {
		background: #fff;
		padding: 10px 15px;
		margin: 5px;
	}

	.bn {
		border-radius: 0px;
		border: 1px solid #339ff9;
	}

	.tableFixHead {
		overflow-y: auto;
		height: 200px;
	}

		.tableFixHead thead th {
			position: sticky;
			top: 0;
		}

	th {
		color: white;
		background: #339ff9;
	}

	.info {
		background: #fff;
		margin: 4px 6px;
	}

		.info span {
			padding: 5px;
			background: #339ff9;
			color: #fff;
			font-size: 11px;
			display: block;
		}

	.bg-white {
		background: #fff !important;
		color: rgba(0,0,0,.125);
	}

	download {
		padding: 5px;
		background: #fff;
		color: #3a3a3a;
		font-size: 12px;
		display: block;
	}

	.bn1 {
		border: none;
		border-radius: 0;
	}
</style>
<script src="~/Areas/MobileApp/JsModule/NHMUserMaster.js"></script>
<div id="page-content" style="background: #ececec;">
	<div class="form">
		<div class="row form-group">
			<div class="col-xs-12 form-group">
				<div class="flex">
					<button class="bn btn-danger" id="btnAutoGen" style="width:30%;background:#fb9b0c;border:1px solid #fb9b0c">Auto Gen</button>
					<input type="text" id="txtUserId" placeholder="User Id" style="border:1px solid #fb9b0c" disabled="disabled" class="form-control bn" />
				</div>
			</div>
			<div class="col-xs-12 form-group">
				<div class="flex">
					<button class="bn btn-danger" style="width:30%;background:#339ff9">Name</button>
					<input type="text" id="txtUserName" placeholder="User Name" class="form-control bn" />
				</div>
			</div>
			<div class="col-xs-12 form-group">
				<div class="flex">
					<button class="bn btn-danger" style="width:30%;background:#339ff9">Mobile No</button>
					<input type="text" id="txtMobileNo" placeholder="Mobile No" class="form-control bn" />
				</div>
			</div>
			<div class="col-xs-12 form-group">
				<div class="flex">
					<button class="bn btn-danger" style="width:30%;background:#339ff9;font-size: 12px;">Designation</button>
					<input type="text" id="txtDesignation" placeholder="Designation" class="form-control bn" />
					<button class="bn btn-danger" id="btnSubmit" onclick="InsertUser()" style="width:30%;background:#fb9b0c;border:1px solid #fb9b0c;margin-left:5px;">Submit</button>
				</div>
			</div>
			<div class="col-xs-12 form-group">
				<div class="table-responsive tableFixHead" style="border:1px solid #ccc;margin: 0;height:100%">
					<table class="table table-bordered" id="tblUserInfo">
						<thead>
							<tr>
								<th style="width:1%">CMD</th>
								<th>User Id</th>
								<th><input type="text" id="txtSearch" style="width:98%;height: 18px;" autocomplete="off" placeholder="User Name"/></th>
								<th>Mobile No.</th>								
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>	
	</div>	
</div>

<div id="modalCentreAllot" class="modal fade" role="dialog">
	<div class="modal-dialog modal-xs">
		<!-- Modal content-->
		<div class="modal-content" style="margin-top:4%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<span id="txtUserInfo"></span>				
			</div>
			<div class="modal-body" style="padding: 10px 22px;">
				<div class="row">
					<div class="col-md-12" style="height: 260px;margin-top: 15px;">
						<button class="btn-success pull-right" id="btnSendLink" onclick="SendPwdChange()" style="border: none;margin-left:2px;font-size: 11px;"><i class="fa fa-sign-in">&nbsp;</i>Send Password Change Link</button>
						<label class="master-title">Centre Master</label>
						<div class="row">
							<div class="col-xs-12">
								<div class="panel panel-info" style="margin: 0;">
									<span class="list-title">Centre List</span>
									<div class="panel-body" style="height: 211px;overflow:auto">
										<div class="scroll" style="height: 216px;">
											<table class="table table-bordered" id="tblCentre">
												<thead>
													<tr>
														<th><input type="text" id="txtSearch1" style="color:#000000;width:90%;height:20px" placeholder="Search Centre" /></th>
														<th style="width: 37%;">District Name</th>
														<th style="width: 1%;">CMD</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="panel panel-info" style="margin: 0;">
									<span class="list-title"><p class="text-right" style="margin:0">Alloted Centre List</p></span>
									<div class="panel-body" style="height: 211px;overflow:auto">
										<div class="scroll" style="height: 216px;">
											<table class="table table-bordered" id="tblAllotedCentre">
												<thead>
													<tr>
														<th><input type="text" id="txtSearch2" style="color:#000000;width:90%;height:20px" placeholder="Search Centre" /></th>
														<th style="width: 37%;">District Name</th>
														<th style="width: 1%;">CMD</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
