
@{
	ViewBag.Title = "PatientReport";
	Layout = "~/Areas/MobileApp/Views/Shared/_layout.cshtml";
}

<style>
	#ddlPatientList {
		margin: 10px;
		width: 94%;
	}

	body {
		background-color: #ececec;
	}

	.report {
		border-radius: 3px;
		box-shadow: 1px 0px 4px #e0e0e0;
		cursor: pointer;
		border: 1px solid #e6e6e6;
		background: #fff;
		padding: 9px 0px;
		display: flex;
		width: 94%;
		margin-bottom: 7px;
		margin: 10px;
	}

	table td, th {
		font-size: 12px !important;
		padding: 0px 3px;
	}

	.report-left {
		border: 1px solid #a9e0ff;
		margin: 0 10px;
		width: 90px;
		background: #ececec;
		padding: 15px 30px;
	}

		.report-left .fa {
			font-size: 31px;
			color: #3eb1f3;
		}

	.report-right {
		width: 75%;
	}

	.report-title {
		font-size: 16px;
		font-weight: 500;
		color: #000;
	}

	.report-des {
		font-size: 13px;
		color: #999999;
	}

	.report-btn {
		width: 65px;
		padding: 0px 14px;
		font-size: 13px;
		border: none;
		box-shadow: none;
	}

	.bg {
		color: #333 !important;
		background: #e6e6e6 !important;
	}

	.card {
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0,0,0,.125);
		border-radius: .25rem;
	}

	.visitnow {
		padding: 0px 19px 5px 19px;
		margin-top: 8px;
	}

	.card-body {
		BACKGROUND-COLOR: #d8d5d5;
		height: 106px;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		min-height: 1px;
		padding: 1.25rem;
	}

	.form {
		background: #fff;
		padding: 10px 15px;
		margin: 5px;
	}

	.bn {
		border-radius: 0px;
		border: 1px solid #339ff9;
	}

	.tableFixHead {
		overflow-y: auto;
		height: 200px;
	}

		.tableFixHead thead th {
			position: sticky;
			top: 0;
		}

	th {
		color: white;
		background: #339ff9;
	}

	.info {
		background: #fff;
		margin: 4px 6px;
	}

		.info span {
			padding: 5px;
			background: #339ff9;
			color: #fff;
			font-size: 11px;
			display: block;
		}

	.bg-white {
		background: #fff !important;
		color:rgba(0,0,0,.125);
	}
	download {
		padding: 5px;
		background: #fff;
		color: #3a3a3a;
		font-size: 12px;
		display: block;
	}
	.bn1 {
		border: none;
		border-radius: 0;
	}
</style>

<script src="~/Areas/MobileApp/JsModule/PatientReport.js"></script>
<div id="page-content" style="background: #ececec;">
	<div class="form">
		<div class="row form-group">
			<div class="col-xs-12">
				<div class="flex">
					<button class="bn btn-danger" style="width:20%;background:#339ff9">Date</button>
					<input type="date" id="txtFrom" class="form-control bn" />
					<button class="btn-danger bn" onclick="PatientReport('PatientReport:Bydate')" style="width:15%;border: none;margin-left:2px">Get</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="flex">
					<select id="ddlType" class="form-control" style="width: 51%;">
						<option>Visit No</option>
						<option>Mobile No</option>
					</select>
					<input type="text" id="txtInput" class="form-control bn" />
					<button class="btn-danger bn" onclick="PatientReport('PatientReport:ByVisitNo')" style="width:18%;border: none;margin-left:2px">Get</button>
				</div>
			</div>
		</div>
	</div>
	<div id="Report"></div>
	@*<div class="info">
		<span><b>Name :</b> AJIT KUMAR MAURYA   <b>Visit No :</b> UK001/21-22/000034</span>
		<download>Download Report <button class="btn-primary btn-xs bn1 pull-right">Download</button></download>
		<div class="table table-responsive" style="border:1px solid #ccc;padding: 3px;">
			<table class="table-bordered" id="tblPatientReport" style="width: 100%;">		
				<tbody></tbody>
			</table>
		</div>
	</div>*@	
</div>
