<div class="header">
	<div class="row" style="background:#ffffffed;border-top:10px solid #1c82d7;">
		<div class="col-xs-12 text-center" style="padding:4px 15px;">
			<span class="btn btn-success" id="btnBack" onclick="history.back()"><i class="fa fa-arrow-left">&nbsp;</i>Back</span>
			<label class="text-center" id="txtCollectionCenter"></label>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {	
		$('.fa-bars').on('click', function () {
			$('.menu-section').toggle("slide", function () {
				$('.toggle-bars').show()
				$('#layout-section').toggleClass('col-md-9');
			});
		});
	});
</script>