<div class="header">
	<div class="row" style="background:#ffffffed;border-top:10px solid #1c82d7;">
		<div class="col-md-8 left-panel">
			<h3 class="text-danger">
				<img src="~/Content/img/NHM_Chandan.png" style="width:147px;margin-left: 27px;" />
				@*<span class="text-center"><span class="LoginType" style="text-transform:capitalize"></span> Panel</span>*@
				@*<span style="width:40%;float:right;margin: 16px 5px;font-size:13px">
					<select class="form-control" id="ddlCenterList"><option>Select Center</option></select>
				</span>*@
			</h3>
		</div>
		<div class="col-md-4 right-panel">
			<a href="~/mis/report/dashboard"><i class="fa fa-home"></i></a>
			<span class="pull-right login-area">
				@*<i class="fa fa-user">&nbsp;</i><user>Nitin Kumar Srivastava</user>*@
				<img src="~/Content/img/user-icon.png" style="width:28px;border-radius: 2px;" /><user></user>
				<logout><i class="fa fa-power-off"></i></logout>
			</span>
		</div>
		<img src="~/Content/img/loading.gif" class="img-responsive" style="width:100% !important;height: 3px;position:absolute;top:10.5%" id="LineLoader" />
	</div>
</div>